doctype html
html(lang='en')
  head
    title Jade
    script(type='text/javascript').
      foo = true;
      bar = function () {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Jade - Node template engine
    #container.col
      p 500 Error on Request
      p
        | Error Found on the Page